<div class="card">
    <div class="card-header ">

    </div>
    <div class="card-body">
        <form [formGroup]="registrationForm" class="userProfile" >

            <div class="row">
                <p class="col-lg-3">

                    <input type="text" class="form-control" placeholder="First Name"
                        formControlName="name" >
                    <mat-error *ngIf="registrationForm.get('name').hasError('required') && invalid">First
                        Name
                        is
                        required</mat-error>

                </p>
                <p class="col-lg-3">

                    <input type="text" class="form-control" placeholder="Last Name" formControlName="surname">
                    <mat-error *ngIf="registrationForm.get('surname').hasError('required') && invalid">Last
                        Name is
                        required</mat-error>

                </p>
                <p class="col-lg-3">

                    <input type="text" class="form-control" placeholder="Patronymic" formControlName="patronymic">
                    <mat-error *ngIf="registrationForm.get('patronymic').hasError('required') && invalid">Patronymic
                        required</mat-error>

                </p>
           

                <p class="col-lg-3">
                    <mat-form-field class="custom-date-range custom-border px-0 w-100" appearance="outline">
                        <input matInput style="position: relative;" [matDatepicker]="dp3" formControlName="dateOfBirth" placeholder="Date of Birth">
                        <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>


                        <mat-error *ngIf="registrationForm.get('dateOfBirth').hasError('required') && invalid">
                            Date of Birth is required</mat-error>
                        <mat-error *ngIf="registrationForm.get('dateOfBirth').hasError('ageOutOfRange')">
                            Age must be between 18 and 100.
                        </mat-error>
                    </mat-form-field>
                </p>
                <div class="form-check mb-3 d-flex">
                    <div class="mx-2">
                        <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="male"
                            [checked]="editData?.gender==1" value="1">
                        <label class="form-check-label" for="male">
                            Male
                        </label>
                    </div>
                    <div class="mx-5">
                        <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="female"
                            [checked]="editData?.gender==2" value="2">
                        <label class="form-check-label" for="female">
                            Female
                        </label>
                    </div>
                    <div *ngIf="registrationForm.get('gender').hasError('required')  && invalid" class="text-danger">
                        Please select a gender.
                    </div>
                </div>

            </div>
            <div class="row d-flex justify-content-between" >
                <div class="col-lg-6">
                    <button *ngIf="type!=1" (click)="onSubmit()" class="btn btn-primary waves-effect waves-light custom-btn" type="submit">REGISTER</button>
            <button *ngIf="type==1" (click)="onSubmit()" class="btn btn-primary waves-effect waves-light custom-btn" type="submit">SAVE</button>
                </div>
                <div class="col-lg-6 d-flex flex-row-reverse">
                    <div class="download">
                        <label class="custom-file-upload">
                          <input
                            accept="image/png, image/gif, image/jpeg, application/pdf"
                            type="file"
                            (change)="onUpload($event)"
                          />
                       Change profil image
                          
                        </label>
                      </div>
                </div>
            </div>
            
          

        </form>
        

    </div>
</div>
