<div class="d-flex justify-content-center ">
    <mat-card class="col-lg-12 ">

        <mat-card-content>
            <form [formGroup]="registrationForm" class="login--section" (ngSubmit)="onSubmit()">
                <mat-card-title>REGISTER</mat-card-title>
                <div>
                    <p>
                        <mat-form-field>
                            <input type="text" matInput placeholder="First Name" name="firstName"
                                formControlName="firstName" required>
                            <mat-error *ngIf="registrationForm.get('firstName').hasError('required') && invalid">First
                                Name
                                is
                                required</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Last Name" formControlName="lastName">
                            <mat-error *ngIf="registrationForm.get('lastName').hasError('required') && invalid">Last
                                Name is
                                required</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Patronymic" formControlName="patronymic">
                            <mat-error
                                *ngIf="registrationForm.get('patronymic').hasError('required') && invalid">Patronymic
                                required</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input type="email" matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="registrationForm.get('email').hasError('required') && invalid">Email is
                                required</mat-error>
                            <mat-error *ngIf="registrationForm.get('email').hasError('email') && invalid">Invalid email
                                format</mat-error>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'"
                                formControlName="password" required>
                            <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                {{ hidePassword ? 'visibility_off' : 'visibility' }}
                            </mat-icon>
                            <mat-error *ngIf="registrationForm.get('password').hasError('required') && invalid">Password
                                is
                                required</mat-error>
                            <mat-error
                                *ngIf="registrationForm.get('password').hasError('pattern') && registrationForm.get('password').touched">
                                Password must contain uppercase letters and numbers
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Confirm Password" type="password"
                                formControlName="confirmPassword">
                            <mat-error
                                *ngIf="registrationForm.get('confirmPassword').hasError('required') && invalid">Confirm
                                Password
                                is required</mat-error>
                            <mat-error *ngIf="!registrationForm.errors?.['passwordMismatch'] && invalid">Passwords
                                do not
                                match
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <div class="mb-3">
                        <label for="example-date-input" class="form-label">Date of Birth</label>
                        <input class="form-control" formControlName="dateOfBirth" type="date" value="2019-08-19"
                            id="example-date-input">
                    </div>
                    <div class="form-check mb-3 d-flex">
                        <div class="mx-2">
                            <input class="form-check-input" formControlName="gender" type="radio" name="gender"
                                id="male" checked="" value="1">
                            <label class="form-check-label" for="male">
                                Male
                            </label>
                        </div>
                        <div class="mx-5">
                            <input class="form-check-input" type="radio" formControlName="gender" name="gender"
                                id="female" checked="" value="2">
                            <label class="form-check-label" for="female">
                                Female
                            </label>
                        </div>
                    </div>

                </div>

                <button class="btn btn-primary waves-effect waves-light custom-btn" type="submit">REGISTER</button>
                <div class="register--container">
                    Already Registered? <a [routerLink]="['/login']" class="btn btn-link">Login</a>
                </div>
            </form>
            <div class="image--section">
            </div>
        </mat-card-content>
    </mat-card>
</div>