<mat-card>
    <mat-card-content>
        <form class="login--section">
            <mat-card-title>Login</mat-card-title>
            <div>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Username">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ hidePassword ? 'visibility_off' :
                            'visibility' }}</mat-icon>
                    </mat-form-field>
                </p>
            </div>
            <div class="forgot-password">
                <a href="#">Forgot password</a>
            </div>
            <button mat-raised-button color="primary">LOGIN</button>
            <div class="register--container">
                New User? <a href=""> {{' '+'Register'}}</a>
            </div>
        </form>
        <div class="image--section">
        </div>
    </mat-card-content>
</mat-card>