::ng-deep .mat-mdc-table .mdc-data-table__header-row {
  background: #3682a8 !important;
}

::ng-deep .mdc-data-table__header-cell {
  font-size: 20px;
  color: #fff;
}

.card-title {
  font-size: 32px;

  margin-bottom: 20px;
  text-align: center;
}
