<div class="modal-1 bs-example-modal">
  <form class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title align-self-center">Assign to subtopic</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="dialogRef.close(false)"></button>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="assignToSubtopic()">Assign to subtopic</button>
      <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="dialogRef.close(false)">Close</button>
    </div>
  </form>
</div>