<div class="card p-5" *ngIf="permission?.includes('GetUsers') ">
    <div class="card-body">
        <h2 class="card-title" style="margin-left: 10px;">User Activated</h2>
        <div class="general-label">
            <div class="d-flex justify-content-center p-0" style="padding: 0;">
                <div class="mat-elevation-z8 table-responsive col-lg-12">
                    <table mat-table [dataSource]="dataSource" matSort class="table table-centered mb-0">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                            <td mat-cell *matCellDef="let row">{{ row.email }}</td>
                        </ng-container>
                        <ng-container matColumnDef="fullName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
                            <td mat-cell *matCellDef="let row">{{ row.fullName }}</td>
                        </ng-container>
                        <ng-container matColumnDef="userStatusId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>User Status</th>
                            <td mat-cell *matCellDef="let row">
                                <i class="{{userStatusClass[row.userStatusId]}}"
                                    matTooltip="{{userStatusText[row.userStatusId]}}"></i>

                            </td>
                        </ng-container>

                        <ng-container matColumnDef="setRole">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Set Role</th>
                            <td mat-cell *matCellDef="let row"><a class="btn btn-outline-primary "
                                    (click)="onSetNewRole(row.id,row.roleNames)">Set Role</a></td>
                        </ng-container>

                        <ng-container matColumnDef="blockedUser">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Blocked/Unblocked</th>
                            <td mat-cell *matCellDef="let row"><a class="btn" [ngClass]="{
                            'btn-outline-danger': row.userStatusId === 3,
                            'btn-outline-success': row.userStatusId !== 3
                          }" (click)="onBlockedOrUnblockedUser(row.id,row.userStatusId)">{{row.userStatusId === 3 ?
                                    "Block":"Activate"}} User</a>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>
                    <mat-paginator  [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
            (page)="onPageChanged($event)" showFirstLastButtons></mat-paginator>
                </div>
            </div>

        </div>
    </div>
</div>
