<div class="modal-1 bs-example-modal">

    <form [formGroup]="roleForm" (ngSubmit)="onSetRole()" class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title align-self-center">Assign Student</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="onClose()"></button>
        </div>
        <div class="modal-body">
            <mat-form-field class="col-lg-12 col-sm-12" appearance="outline">
                <div class="mb-0">
                    <mat-select formControlName="role" multiple disableRipple>
                        <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
                    </mat-select>
                </div>
            </mat-form-field>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="roleForm.invalid">Assign Student</button>
            <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="onClose()">Close</button>
        </div>
    </form>

</div>