.row > *{
    padding: 0 8px;
}

.news-content {
    margin-top: 30px;
  
    .news-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      h3 {
        font-weight: 500;
        font-size: 18px;
        margin: 0;
      }
  
      button {
        width: fit-content;
        outline: none;
        border: none;
        background: #1B1464;
        color: #FFF;
        padding: 14px 16px;
        border-radius: 10px;
  
        img {
          margin-right: 7px;
        }
      }
    }
  
    .news {
      margin-top: 16px;
  
      .col-lg-3 {
        padding: 0 10px;
      }
  
      .news-card {
        border-radius: 10px;
        border: 1px solid #DFDFDF;
  
        .card-header {
            display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;
          >* {
            cursor: pointer;
          }
  
          :first-child {
            margin-right: 6px;
          }
        }
  
        .card-footer{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          >:first-child{
            color: #777777;
            font-size: 14px;
            margin: 0;
  
            span{
              margin-right: 14px;
            }
          }
          >:last-child{
            font-size: 14px;
            color: #1B1464;
            font-weight: 500;
            text-decoration: underline;
            margin: 0;
            cursor: pointer;
          }
        }
  
        ::ng-deep .card-content {
          margin: 14px;
          height: 80px;
          max-height: 80px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-clamp: 4;
          -webkit-line-clamp: 4; /* mətnin neçə sətirdən ibarət olacağını təyin edir */
          -webkit-box-orient: vertical;

        }
      }
    }
  }
