<header class="dialogHeader">
  <h4 >Question number: {{questionData.index + 1}}</h4>
  <img src="../../../../../assets/images/close.svg" (click)="dialogRef.close()">
</header>

<div class="p-3">
  <div class="question-text">
    <h5>Question text</h5>
    <!-- <div class="ql-editor " #questionContent></div> -->
    <quill-editor [(ngModel)]="question.text"  [readOnly]="true"  [modules]="quillConfig" style="width: 100%;"></quill-editor>
  </div>
  <hr>
  <div class="answers">
    <h5>Answers</h5>
    <div *ngFor="let item of question.answers; let i =index" class="d-flex align-items-baseline">
      <strong class="mx-3"><span>{{ ('abcdefghijklmnopqrstuvwxyz'[i])}})</span></strong> 
      <quill-editor [(ngModel)]="item.text"  [readOnly]="true"  [modules]="quillConfig" style="width: 100%;" class="mb-3"></quill-editor>
    </div>
  </div>
</div>