table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8{
    box-shadow: none;
  }