.card-title {
    font-size: 25px;
    margin: 0;
  }

  ::ng-deep .mat-mdc-table .mdc-data-table__header-row {
    background: #3682a8 !important;
  }
  
  ::ng-deep .mdc-data-table__header-cell {
    font-size: 18px;
    color: #fff;
  }