::ng-deep .mat-mdc-table .mdc-data-table__row {
  cursor: pointer;
}

::ng-deep .mat-mdc-table .mat-mdc-row:hover,
::ng-deep .mat-mdc-table .mat-mdc-footer-row:hover,
.table-hover > tbody > tr:hover {
  background-color: #e0e1dd !important;
}

::ng-deep .mat-mdc-table .mdc-data-table__header-row {
  background: #3682a8 !important;
}

::ng-deep .mdc-data-table__header-cell {
  font-size: 20px;
  color: #fff;
}

.card-title {
  font-size: 32px;

  margin-bottom: 20px;
  text-align: center;
}
