::ng-deep  .studentContent .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 6px!important;
}
::ng-deep .studentContent  .mat-mdc-text-field-wrapper{
height: 36px!important;
}
::ng-deep .studentContent mat-select {
  font-size: 0.8125rem!important;
    font-weight: 400!important;
    color: #495057!important;
}
